<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projetoaplicado.vgoncalves.com.projetoaplicado">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UNAJob"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.CadastrarActivity" />
        <activity android:name=".view.activity.ContextoActivity" />
        <activity android:name=".view.activity.CadastroEmpresaActivity" />
        <activity android:name=".view.activity.MainEmpresaActivity" />
        <activity android:name=".view.activity.EditarPerfilActivity" />
        <activity android:name=".view.activity.VagasEmpresaActivity" />
        <activity android:name=".view.activity.CadastrarVagaActivity" />
        <activity android:name=".view.activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.EditarUsuarioPerfilActivity"></activity>
    </application>

</manifest>